body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-background {
    min-height: 100vh;
    background-color: #75C6FB;
}

.hero-content {
    display: inline-block;
    width: 500px;
    margin: 40px calc( (100% - 500px) / 2 ) 20px;
    text-align: center;
}
    #hero .hero-content > * {
        display: inline-block;
        width: 100%;
    }
    #hero .logo {
        background-image: url(../img/logo.png);
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #hero h1 {
        margin: 40px 0 20px;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 40px;
    }
    #hero p {
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 20px;
        color: #777;
    }
    #hero .clock {
        margin: 40px 0 60px 0;
    }
        #hero .clock > .clock-block {
            display: inline-block;
            float: left;
            width: 25%;
        }
            #hero .clock > .clock-block > .value {
                font-size: 36px;
            }
            #hero .clock > .clock-block > .title {
                font-size: 20px;
            }
    #hero form {

    }
        #hero form > input {
            width: 90%;
            margin-bottom: 20px;
            padding: 10px 0px;
            font-size: 20px;
            line-height: 20px;
            color: #FFF;
            border: none;
            border-bottom: 2px solid #FFF;
            background: transparent;
        }
            #hero form > input::placeholder {
                color: #FFF;
            }
            #hero form > input:focus {
                outline: none;
            }
    #hero .mouse-container {
        margin-top: 40px;
    }

    @media ( max-width: 640px ) {
        .hero-content {
            width: 100%;
            margin: 40px 0 20px;
            padding: 0 20px;
        }
    }
    @media ( max-width: 480px ) {
        #hero .clock {
            margin-top: 0;
        }
        #hero .clock > .clock-block {
            width: 50%;
            margin-top: 40px;
        }
    }

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #EA1E63;
    color: #FFF;
    box-shadow: -1px 2px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
}
    .btn:hover {
        background-color: #ad0e44;
        cursor: pointer;
    }

#content {
    display: inline-block;
    width: 100%;
}
    #content .container {
        display: inline-block;
        width: 800px;
        margin: 40px calc( (100% - 800px) / 2 ) 20px;
    }
        #content .container > .left {
            display: inline-block;
            float: left;
            width: 50%;
        }
        #content .container > .right {
            display: inline-block;
            float: left;
            width: 50%;
            padding-left: 10%;
        }
@media ( max-width: 900px ) {
    #content .container {
        width: 540px;
        margin: 40px calc( (100% - 540px) / 2 ) 20px;
    }
}
@media ( max-width: 640px ) {
    #content .container {
        width: 100%;
        margin: 40px 0 20px;
    }
        #content .container > .left {
            width: 100%;
            padding: 0 40px;
        }
        #content .container > .right {
            width: 100%;
            padding-left: 0%;
            padding: 40px;
        }
}

footer {
    background-color: #03A9F5;
    text-align: center;
}
    footer > .social {
        display: inline-block;
        width: 800px;
        margin: 20px calc( (100% - 800px) / 2 );
        padding-bottom: 20px;
        border-bottom: 1px solid #FFF;
        position: relative;
    }
        footer > .social > a {
            display: inline-block;
            width: 44px;
            padding: 10px;
            margin: 0 10px;
            text-decoration: none;
            color: #FFF;
            font-size: 24px;
        }
            footer > .social > a:hover {
                background-color: #FFF;
                color: #03A9F5;
                border-radius: 50%;
            }
        footer > .social > .back-to-top {
            font-size: 30px;
            width: 40px;
            height: 40px;
            padding: 0;
            line-height: 35px;
            color: #FFF;
            text-decoration: none;
            background-color: #EA1D62;
            border-radius: 50%;
            position: absolute;
            top: -40px;
            right: -20px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        }
    footer > .legal-shit {
        display: inline-block;
        width: 800px;
        margin: 0 calc( (100% - 800px) / 2 ) 40px;
    }
    @media ( max-width: 900px ) {
        footer > .social {
            width: 540px;
            margin: 20px calc( (100% - 540px) / 2 );
        }
        footer > .legal-shit {
            width: 540px;
            margin: 0 calc( (100% - 540px) / 2 ) 40px;
        }
    }
    @media ( max-width: 640px ) {
        footer > .social {
            width: 100%;
            margin: 20px 0;
        }
        footer > .legal-shit {
            width: 100%;
            margin: 0 0 40px;
        }
        footer > .social > .back-to-top {
            display: none;
        }
    }