body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.hero-background {
    background-color: #75C6FB;
}

.hero-content {
    display: inline-block;
    width: 500px;
    margin: 40px calc( (100% - 500px) / 2 ) 20px;
}
    #hero .logo {
        
    }
    #hero h1 {
        
    }
    #hero p {
        
    }
    #hero .clock {
        
    }
        #hero .clock > .clock-block {
            
        }
            #hero .clock > .clock-block > .value {
                
            }
            #hero .clock > .clock-block > .title {
                
            }
    #hero form {
        
    }
        #hero form > input {
            
        }
        #hero form > .btn {
            
        }